.App {
  text-align: center;
}

a{
  text-decoration: none;
  color: inherit;
}

#test_item_table th{
  border-bottom: 1px solid #1c1cffc4;

}

#test_item_table tr:nth-child(even){
  background-color: #1c1cff29;
}

.item_tr:hover{
  color: #1c1cff;
}

.create_ul li:hover{
  color: #1c1cff;
}

#introWrapper{
  width: 70%;
  margin: auto;
}

#introWrapper ul{
  width: 400px;
  margin: auto;
  text-align: left;
}

